<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
    <link rel="stylesheet" href="/css/main.css"/>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css"/>
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
<img src="/img/logo.png" alt="Meadowlark Travel Logo"/></head>
<a href="/">home</a>
<hr/>
{{{body}}}
{{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-globals.js"></script>
    {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run();</script>
{{/if}}
{{{_sections.body}}}
{{{_sections.jquery}}}
</body>
</html>